<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/restaurant application/src/com/week4/restaurant/controller/Restaurent.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.week4.restaurant.controller.Restaurent"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="restaurant application"/>
</launchConfiguration>
